@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,700;1,300;1,500;1,700&display=swap');

*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

html{
    font-size: 10px;
    font-family: 'Ubuntu', 'Times New Roman', Times, serif;
    scroll-behavior: smooth;
}

a{
    text-decoration: none;
}

.mainContainer{
    min-height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Seção de apresentação */

#Presentation{
    background-image: url(/Imagens/background.jpeg);
    background-size: cover;
    background-position: top center;
    position: relative;
    z-index: 1;
}
#Presentation h1{
    display: block;
    width: fit-content;
    font-size: 5rem;
    position: relative;
    color: transparent;
    animation: Text_Reveal .5 ease forwards;
    animation-delay: 1.5s;
}
#Presentation h1:nth-child(1){
    animation-delay: .8s;
}
#Presentation h1:nth-child(2){
    animation-delay: 1.8s;
}
#Presentation h1:nth-child(3){
    animation: Text_Reveal_Name .5s ease forwards;
    animation-delay: 2.8s;
}

#Presentation .CTA{
    display: inline-block;
    padding: 10px 30px;
    color: gold;
    background-color: transparent;
    border: 2px solid gold;
    font-size: 2rem;
    text-transform: uppercase;
    letter-spacing: .1rem;
    margin-top: 20px;
}

#Presentation .CTA:hover{
    color: white;
    font-weight: 500;
    background-color: gold;
}
#Presentation h1 span{
    position: absolute;
    top: 0;
    left: 0;
    height:100%;
    width: 0%;
    animation: Text_Reveal_Box 1s ease;
    animation-delay: .5s;
    background-color: gold;
}
#Presentation h1:nth-child(1) span{
    animation-delay: .5s;
}
#Presentation h1:nth-child(2) span{
    animation-delay: 1.5s;
}
#Presentation h1:nth-child(3) span{
    animation-delay: 2.5s;
}
#Presentation::after{
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    height:100%;
    width: 100%;
    background-color: black;
    opacity: 0.5;
    z-index: -1;
}

/* Keyframes */

@keyframes Text_Reveal{
    100%{
        color: white;
    }
}

@keyframes Text_Reveal_Name{
    100%{
        color: gold;
        font-weight: 500px;
    }
}
@keyframes Text_Reveal_Box{
    50%{
        width: 100%;
        left: 0;
    }
    100%{
        width: 0;
        left: 100%
    }
}